html, body {
     margin: 0;
    }

h1 {
    color: #003049;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 42pt;
    font-weight: bold;
}
#mc_embed_signup form {
    display:block; 
    position:relative; 
    text-align:left; 
    margin: 20px;
    overflow: hidden;
} 
#mc_embed_signup .mc-field-group {
    clear:left; 
    position:relative; 
    width:100%; 
    padding-bottom:3%; 
    min-height:50px; 
    display:grid;
    overflow: hidden}  
#mc_embed_signup{
    background:#fff; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif;  
    width:500px;
    overflow: hidden}
#mc_embed_signup .indicates-required {
    text-align:right; 
    font-size:11px; 
    margin-right:4%;}
#mc_embed_signup .asterisk {
    color:#e85c41; 
    font-size:150%; 
    font-weight:normal; 
    top:5px;}
#mc-embedded-subscribe {
    clear:both; 
    width:auto; 
    display:block; 
    margin:1em 0 1em 5%;
    overflow: hidden}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {
    padding:.5em; 
    border:1px solid #ccc; 
    margin-right:.5em; 
    font-weight:bold;}
#mc_embed_signup .button {
    clear:both; 
    background-color: #003049; 
    border: 0 none; 
    border-radius:4px; 
    transition: all 0.23s ease-in-out 0s; 
    color: #FFFFFF; 
    cursor: pointer; 
    display: inline-block; 
    font-size:15px; 
    font-weight: normal; 
    height: 32px; 
    line-height: 32px; 
    margin: 0 5px 10px 0; 
    padding: 0 22px; 
    text-align: center; 
    text-decoration: none; 
    vertical-align: top; 
    white-space: nowrap; 
    width: auto; 
    overflow: hidden}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup input {
    border: 1px solid #ABB0B2; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;  
    margin: 0 5px 10px 0;
    padding: 10px; 
    overflow: hidden}
#mc_embed_signup input:focus {border-color:#333;}
           
.header {
      padding: 10px 16px;
      background: #003049;
      color: #FFFFFF;
      width: 100%;
      overflow: hidden;
    }


    
/* Page content */
.content {
      padding: 32px;
      font-family: Century Gothic, CenturyGothic, AppleGothic, Inter, sans-serif;
      overflow: hidden;
    }
    
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
      position: fixed;
      top: 0;
      width: 100%;
      overflow: hidden;
}
    
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
      padding-top: 102px;
    }
